$vd-blue-bg: hsl(230, 17%, 14%); /* bg */
$vd-blue-top-bg:hsl(232, 19%, 15%); /* top bg */
$d-desat-blue: hsl(228, 28%, 20%); /*card BG*/
$desat-blue: hsl(228, 34%, 66%); /* text */
$dg-blue: hsl(228, 12%, 44%);
$white : hsl(0, 0%, 100%); /* text */


@mixin dark-mode {
    background: linear-gradient(180deg, $vd-blue-bg 30%, $vd-blue-top-bg 100%);
    #Header{
        h1{
            color: $white;
        }
        h4{
            color: $dg-blue;
        }
    }
    .indiCard{
        background-color: $d-desat-blue;
        .indi-app{
            color: $desat-blue;
        }
        .followerCount{
            color: $white;
            div{
                color: $desat-blue;
            }
        }
        &:hover{
            background-color: lighten($d-desat-blue,10);
        }
    }
    #Status-Dashboard{
        color: $white;
        .miniCard{
            background-color: $d-desat-blue;
            &:hover{
                background-color: lighten($d-desat-blue,10);
            }
        }
        .statusParam{
            color: $desat-blue;
            
        }
        .statusCount{
            color: $white;
        }
    }
    label{
        color: $white;
    }
    #button-1 .knobs:before {
        background-color: $d-desat-blue;
    }
}