@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
/* BG */
/* top BG */
/* card BG */
/* text */
/* text */
/* bg */
/* top bg */
/*card BG*/
/* text */
/* text */
* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: "Inter", sans-serif;
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.app-container {
  width: 80%;
  padding: 3%;
}

#Dashboard {
  width: 100%;
}

#Header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 3%;
}

.main-stat-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 6%;
}

.main-stat-container .indiCard {
  border-radius: 10px;
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
  cursor: pointer;
}

.main-stat-container .indiCard .border-top {
  border-radius: 10px 10px 0 0px;
}

.main-stat-container .indi-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-stat-container .indi-app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 45%;
  margin-left: 5%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10%;
  padding-top: 5%;
}

.main-stat-container .followerCount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-block: 5%;
  font-size: 4em;
  font-weight: 700;
}

.main-stat-container .followerCount div {
  font-size: 0.25em;
  font-weight: 400;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.main-stat-container .todayCount {
  width: 40%;
  padding-block: 5%;
  font-size: 0.9em;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5%;
  padding-bottom: 10%;
}

#Status-Dashboard {
  width: 100%;
  margin-top: 3%;
  font-size: 1.5em;
  font-weight: 700;
}

#Status-Dashboard .stats-content {
  display: -ms-grid;
  display: grid;
  margin-top: 2%;
  -webkit-column-gap: 6%;
          column-gap: 6%;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  row-gap: 10%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  font-size: 0.8em;
  font-weight: 400;
}

#Status-Dashboard .miniCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10%;
  border-radius: 10px;
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
  cursor: pointer;
}

#Status-Dashboard .miniCard .statusParam {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.9em;
  letter-spacing: 1px;
  text-transform: capitalize;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 10%;
  font-weight: 700;
}

#Status-Dashboard .miniCard .statusValue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: capitalize;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#Status-Dashboard .miniCard .statusValue .statusCount {
  font-size: 2em;
  font-weight: 700;
}

#Status-Dashboard .miniCard .statusValue .status-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.9em;
  gap: 10%;
  font-weight: 700;
}

#Status-Dashboard .miniCard .statusValue .status-right .statusPercentIndi {
  margin-bottom: 12%;
}

.light-mode {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, #f5f7ff), to(white));
  background: linear-gradient(180deg, #f5f7ff 30%, white 100%);
}

.light-mode #Header h1 {
  color: #1e202a;
}

.light-mode #Header h4 {
  color: #63687e;
}

.light-mode .indiCard {
  background-color: #f0f2fa;
}

.light-mode .indiCard .indi-app {
  color: #63687e;
}

.light-mode .indiCard .followerCount {
  color: #1e202a;
}

.light-mode .indiCard .followerCount div {
  color: #63687e;
}

.light-mode .indiCard:hover {
  background-color: #e1e5f4;
}

.light-mode #Status-Dashboard {
  color: #63687e;
}

.light-mode #Status-Dashboard .miniCard {
  background-color: #f0f2fa;
}

.light-mode #Status-Dashboard .miniCard:hover {
  background-color: #e1e5f4;
}

.light-mode #Status-Dashboard .statusParam {
  color: #63687e;
}

.light-mode #Status-Dashboard .statusCount {
  color: #1e202a;
}

.light-mode label {
  color: #63687e;
}

.light-mode #button-1 .knobs:before {
  background-color: #fff;
}

.dark-mode {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, #1e202a), to(#1f212e));
  background: linear-gradient(180deg, #1e202a 30%, #1f212e 100%);
}

.dark-mode #Header h1 {
  color: white;
}

.dark-mode #Header h4 {
  color: #63687e;
}

.dark-mode .indiCard {
  background-color: #252a41;
}

.dark-mode .indiCard .indi-app {
  color: #8b97c6;
}

.dark-mode .indiCard .followerCount {
  color: white;
}

.dark-mode .indiCard .followerCount div {
  color: #8b97c6;
}

.dark-mode .indiCard:hover {
  background-color: #374062;
}

.dark-mode #Status-Dashboard {
  color: white;
}

.dark-mode #Status-Dashboard .miniCard {
  background-color: #252a41;
}

.dark-mode #Status-Dashboard .miniCard:hover {
  background-color: #374062;
}

.dark-mode #Status-Dashboard .statusParam {
  color: #8b97c6;
}

.dark-mode #Status-Dashboard .statusCount {
  color: white;
}

.dark-mode label {
  color: white;
}

.dark-mode #button-1 .knobs:before {
  background-color: #252a41;
}

/* Toggle button 
.container {
    text-align: center;
  }

.toggle-switch {
    position: relative;
    width: 75px;
    display: inline-block;
    text-align: left;
    top: 8px;
  }
  .checkbox {
    display: none;
  }
  .label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 0 solid #bbb;
    border-radius: 20px;
  }
  .inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
  }
  .inner:before,
  .inner:after {
   float: left;
    width: 50%;
    height: 36px;
    padding: 0;
    line-height: 36px;
    color: #fff;
    font-weight: bold;
    box-sizing: border-box;
  }
  .inner:before {
    content: "";
    padding-left: 10px;
    background-color: hsl(230, 22%, 74%);
    color: #fff;
  }
  .inner:after {
    content: "";
    padding-right: 10px;
    background-color: hsl(230, 22%, 74%);
    color: #fff;
    text-align: right; 
  }
  .switch {
    display: block;
    width: 24px;
    margin: 5px;
    background: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 40px;
    border: 0 solid #bbb;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
  }
  .checkbox:checked + .label .inner {
    margin-left: 0;
  }
  .checkbox:checked + .label .switch {
    right: 0px;
  }

  /* Toggle button end */
/*.toggle-button-cover {
    position: relative;
    width: 200px;
    height: 140px;
    box-sizing: border-box;
  } 
  
  .button-cover {
    height: 100px;
    margin: 20px;
    border-radius: 4px;
  } 
  
  .button-cover:before {
    position: absolute;
    right: 0;
    bottom: 0;

    font-size: 12px;
    line-height: 1;
    padding: 5px;
  } */
.knobs,
.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

label {
  position: absolute;
  margin: 7px -120px;
  font-size: 1.1em;
  font-weight: 700;
}

.button {
  position: relative;
  top: 50%;
  width: 74px;
  height: 36px;
  margin: 0px auto 0 auto;
  overflow: hidden;
}

.button.r,
.button.r .layer {
  border-radius: 100px;
}

.button.b2 {
  border-radius: 2px;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(#378fe6), to(#3eda82));
  background-image: linear-gradient(to right, #378fe6, #3eda82);
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  z-index: 1;
}

/* Button 1 */
#button-1 .knobs:before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 20px;
  height: 10px;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  border-radius: 50%;
  -webkit-transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
  transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

#button-1 .checkbox:checked + .knobs:before {
  content: "";
  left: 42px;
  background-color: #fff;
}

#button-1 .checkbox:checked ~ .layer {
  background-image: -webkit-gradient(linear, left top, right top, from(#378fe6), to(#3eda82));
  background-image: linear-gradient(to right, #378fe6, #3eda82);
}

#button-1 .knobs,
#button-1 .knobs:before,
#button-1 .layer {
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}
/*# sourceMappingURL=App.css.map */